* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #345d78;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

.backgroundimage {
  padding-top: 100px;
  background-image: url(https://pbs.twimg.com/media/EYI3wl-WAAEv_7I?format=jpg&name=large);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headline {
  color: #000000;
  border-radius: 20px;
  margin: 1em auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding: 2px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
  opacity: 0.9;
}

fieldset {
  background-color: #2c414f;
  border-color: #569ae9;
  margin: 10px auto;
  border-radius: 20px;
}

legend {
  background-color: #efe7d2;
  opacity: 0.8;
  color: #2b282e;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid #000000;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-radius: 5px;
}

input,
textarea {
  background-color: #345d78;
  border: 1px solid #345d78;
  color: #ffffff;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

textarea {
  border: 1px solid #eca52f;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #2c414f;
  border-color: #eca52f;
  border-radius: 10px;
  min-width: 300px;
}

/* Estilo base para dispositivos de tela pequena */
@media only screen and (max-width: 576px) {
  * {
    padding: 0;
    margin: 0;
  }
  .backgroundimage {
    background-image: url(https://pbs.twimg.com/media/EYI3wl-WAAEv_7I?format=jpg&name=large);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .headline {
    color: #ffffff;
  }
}
/* Estilos para telas pequenas */
